@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization;
@section Styles {
    <link rel="stylesheet" href="~/css/monthlytable.css" />
}
@{
}

@model List<GameTracker2.Models.Day>

<h2>@Model[0].CalendarDate.Year</h2>
<br />
<table style="width:50%">
    <tr>
        <th> Month </th>
        <th> Days Played </th>
        <th> Games Added </th>
    </tr>
@for (int i = 1; i < 13; i++)
{

    int count = 0;
    List<String> gameNames = new List<String>();
    DateTime placeholderDate = new DateTime();
    @foreach (var dayFromList in Model)
    {


        @if (dayFromList.CalendarDate.Month == i)
        {
            count++;
            placeholderDate = dayFromList.CalendarDate;

            @foreach (var game in dayFromList.GamesPlayed)
            {
                @if (!gameNames.Contains(game.Name))
                {
                    gameNames.Add(game.Name);

                }
            }
        }



    }
    @if (count > 0)
    {
    <tr>
        <td><a asp-controller="Chart" asp-action="Monthly" asp-route-id="@placeholderDate.ToString("MM-yyyy")">@CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(i)</a></td>
        <td>@count</td>
        <td>@gameNames.Count</td>
    </tr>

    }
    else
    {
        <tr><td>@CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(i)</td> <td></td><td></td></tr>
    }
}
</table>