@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DateTime thisDay = new DateTime();
}
@using System.Globalization;

@model GameTracker2.Models.RootObject

<form asp-controller="Search" asp-action="Results" method="post">
    <input type="text" name="searchstring">
    <input type="submit" value="Search" />
</form>
<p>@ViewBag.Searchstring</p>
@*<p>@ViewBag.Urltest</p>*@

@if (ViewBag.Searchstring != null)
{
    @if (Model != null)
    {
        <form asp-controller="Search" asp-action="ReleaseDetails" method="post">
            <div class="table">
                <div class="thead">
                    <div class="tr">
                        <div class="td">Name</div>
                        <div class="td">Release Date</div>
                        <div class="td">Keep Date?</div>
                        <div class="td">Platform</div>
                        <div class="td"></div>
                    </div>
                </div>
                @foreach (var g in Model.Results)
                {
                    @if (g.Platforms != null)
                    {
                        <div class="tr">
                            <div class="td"> <input type="radio" name="gameid" value="@g.id">@g.Name   </div>
                        <div class="td">
                            @if (DateTime.TryParseExact(g.Original_release_date, "yyyy-MM-dd hh:mm:ss", DateTimeFormatInfo.CurrentInfo, @DateTimeStyles.None, out thisDay))
                            {
                                @thisDay.ToString("MMMM dd, yyyy")
                            }
                            else
                            {
                                @g.Original_release_date
                            }
                        </div>
                        <div class="td">
                            <input type="radio" name="date" value="@g.Original_release_date" />Y 
                            <input type="radio" name="date" value="@g.site_detail_url" />N
                         </div>
                            <div class="td">
                                <select name="platformid">
                                    <option selected disabled hidden style='display: none' value=''> -- select an option -- </option>
                                    @foreach (var p in g.Platforms)
                            {
                                        <option value="@p.ID">@p.Name</option>
                                    }
                                </select>
                            </div>
                            @*Some games have no images, hopefully none have an image but no icon*@
                            @if (g.Image != null)
                            { 
                            <div class="td"><img src="@g.Image.Icon_url"></div>
                            }
                        </div>
                    }
                }
            </div>
            <input type="submit" value="Add Game" />
        </form>

        @if (Model.offset > 0 && Model.offset / 10 < Model.number_of_total_results)
        {
            <form asp-controller="Search" asp-action="Results" method="post">
                <input type="hidden" name="searchstring" value="@ViewBag.Searchstring">
                <input type="hidden" name="page" value="@((Model.offset/10)+2)" />
                <input type="submit" value="Next" />
            </form>

            <form asp-controller="Search" asp-action="Results" method="post">
                <input type="hidden" name="searchstring" value="@ViewBag.Searchstring">
                <input type="hidden" name="page" value="@((Model.offset/10))" />
                <input type="submit" value="Previous" />
            </form>
        }
        @if (Model.offset == 0 && Model.number_of_total_results > 10)
        {
            <form asp-controller="Search" asp-action="Results" method="post">
                <input type="hidden" name="searchstring" value="@ViewBag.Searchstring">
                <input type="hidden" name="page" value="@((Model.offset/10)+2)" />
                <input type="submit" value="Next" />
            </form>
        }
        //@if (Model.offset / 10 == Model.number_of_total_results)
        @if (Model.offset != 0 && Model.number_of_total_results % Model.offset < 10)
        {
            <form asp-controller="Search" asp-action="Results" method="post">
                <input type="hidden" name="searchstring" value="@ViewBag.Searchstring">
                <input type="hidden" name="page" value="@((Model.offset/10))" />
                <input type="submit" value="Previous" />
            </form>
        }
    }
}